<h1>いいね数ランキング</h1>
<% @favorite_counts.each do |favorite| %>
<span class="favorite">♥</span><%= favorite[1] %>
<%= link_to "#{Movie.find_by(id: favorite[0]).name}", movie_path(favorite[0]) %><br>
<% end %>