<!DOCTYPE html>
<html>
<head>
  <title>Reservation Confirmation</title>
</head>
<body>
  <h1>予約確認</h1>
  <p><%= @reservation.name %> 様、</p>
  <p>以下の内容で予約が完了しました。</p>
  <ul>
    <li>映画館: <%= @reservation.schedule.theater.name %></li>
    <li>作品: <%= @reservation.schedule.movie.name %></li>
    <li>上映時刻: <%= @reservation.schedule.schedule_date %></li>
  </ul>
</body>
</html>
