<h1><%= @today %>時点の映画予約数ランキング</h1>
    <table>
        <tr>
            <th>順位</th>
            <th>映画名</th>
            <th>予約件数</th>
        </tr>
        <% @rankings.each_with_index do |ranking, i| %>
            <tr>
                <td><%= i+1 %>位</td>
                <td><%= link_to "#{Movie.find_by(id: ranking.movie_id).name}", movie_path(ranking.movie_id) %></td>
                <td><%= ranking.count_reservations %></td>
            </tr>
        <% end %>
    </table>
    
